body {
    margin: 0;
}

/* .overflow {
    overflow: hidden;
} */

.main-content {
    z-index: 0;
    background-color: rgb(230, 243, 255);
    min-height: 100vh;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    padding: 22px;
    opacity: 1;
    background-image: url('img/pokeball_bg_grey_3.png');
    background-size: 200px 200px;
    overflow: hidden;
    position: relative;
}

.main-content:before {
    background: rgb(226, 0, 0);
    bottom: 100%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: 80% 50%;
    transform: rotate(-23deg);
    width: 200%;
    border: 3px solid black;
    border-radius: 100%;
}

.frontpage {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    /* background-color: rgba(0, 0, 255, 0.281); */
    /* overflow: hidden; */
}

.frontpage-container {
    position: absolute;
    z-index: 15;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.fp-top {
    background-image: url('img/frontpage/pokemon_ball_top.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-bottom {
    background-image: url('img/frontpage/pokemon_ball_bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    z-index: 14 !important;
}

.start-button-box {
    height: 150px;
    width: 150px;
    z-index: 16;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    /* position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.5em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: black;
    border: 5px solid black;
    border-radius: 50%;
    background: #0784be;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#000000, .5);
    animation: pulse 1.5s infinite; */
    padding: 0.3em 0.5em;
    outline: none;
    color: rgb(48, 103, 255);
    background: #111;
    cursor: pointer !important;
    position: absolute;
    border-radius: 100%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 99 !important;
    pointer-events: all;
    margin-right: 15px;
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Trebuchet MS', sans-serif;
}

.start-btn:hover {
    background-color: aqua;
}

.start-btn:before {
    content: "";
    background: linear-gradient(45deg,
            #2d7fb6,
            #2c06b8,
            #00ffff,
            #0a0066,
            #00ffd5,
            #002bff,
            #7a00ff,
            #02ffab,
            #005fdb);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 15s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.start-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.animation-go-up {
    animation: goUp 3s linear 1s infinite;
}

.animation-go-down {
    animation: goDown 3s linear 1s infinite;
}

.d-none {
    display: none;
}

@keyframes goUp {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}

@keyframes goDown {
    from {
        top: 0;
    }

    to {
        top: 200%;
    }
}

@media (max-width: 1000px) {
    .fp-top {
        background-position: '';
    }

    .fp-bottom {
        background-position: '';
    }
}

@media (max-width: 1500px) {
    .start-button-container {
        margin-right: 28px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1100px) {
    .start-button-container {
        margin-right: 25px;
        margin-bottom: 10px;
        width: 160px;
        height: 80%;
    }
}

@media (max-width: 1000px) {
    .frontpage {
        display: none;
    }

    .frontpage-container {
        display: none;
    }

    .fp-top {
        display: none;
    }

    .fp-bottom {
        display: none;
    }

    .start-button-box {
        display: none;
    }

    .start-button-container {
        display: none;
    }

    .start-btn {
        display: none;
    }

    .pulse-button:hover {
        display: none;
    }
}

.poke-card {
    height: 240px;
    width: 180px;
    margin: 11px;
    border: 4px solid rgb(207, 0, 0);
    border-radius: 15px;
    border-style: ridge;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
    opacity: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    z-index: 4;
}

.card-text-top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-text-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

h3 {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 2px;
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
}

.mt-40 {
    margin-top: 40px !important;
}

.poke-card img {
    position: absolute;
    z-index: 99;
    height: 120px;
    width: 120px;
    top: 60px;
}

.index-number {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 4px;
}

.type-small-image {
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 2px;
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    background-color: #ffffff75;
}

.text-center {
    text-align: center !important;
}

.card-bg-left {
    z-index: 0;
    position: absolute;
    width: 220%;
    height: 220%;
    top: 0;
    left: 0;
    background: red;
    transform: rotate(36deg) translate(-90%);
}

.card-bg-right {
    z-index: 0;
    position: absolute;
    width: 200%;
    height: 200%;
    bottom: 0;
    right: 9px;
    background: yellow;
    transform: rotate(36deg) translate(90%);
    --mask: conic-gradient(from 60deg at left, #0000, #000 1deg 59deg, #0000 60deg) 50%/100% 15.01px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}