body {
    margin: 0;
    font-family: 'Gantari', sans-serif;
}

/* .overflow {
    overflow: hidden;
} */

.main-content {
    z-index: 0;
    background-color: rgb(230, 243, 255);
    min-height: 100vh;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    padding: 22px;
    opacity: 1;
    background-image: url('img/pokeball_bg_grey_3.png');
    background-size: 200px 200px;
    overflow: hidden;
    position: relative;
}

.main-content:before {
    background: rgb(226, 0, 0);
    bottom: 100%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: 80% 50%;
    transform: rotate(-23deg);
    width: 200%;
    border: 3px solid black;
    border-radius: 100%;
}

.frontpage {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    /* background-color: rgba(0, 0, 255, 0.281); */
    /* overflow: hidden; */
}

.frontpage-container {
    position: absolute;
    z-index: 15;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.fp-top {
    background-image: url('img/frontpage/pokemon_ball_top.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-bottom {
    background-image: url('img/frontpage/pokemon_ball_bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    z-index: 14 !important;
}

.start-button-box {
    height: 150px;
    width: 150px;
    z-index: 16;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    /* position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.5em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: black;
    border: 5px solid black;
    border-radius: 50%;
    background: #0784be;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#000000, .5);
    animation: pulse 1.5s infinite; */
    padding: 0.3em 0.5em;
    outline: none;
    color: rgb(48, 103, 255);
    background: #111;
    cursor: pointer !important;
    position: absolute;
    border-radius: 100%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 99 !important;
    pointer-events: all;
    margin-right: 15px;
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Trebuchet MS', sans-serif;
}

.start-btn:hover {
    background-color: aqua;
}

.start-btn:before {
    content: "";
    background: linear-gradient(45deg,
            #2d7fb6,
            #2c06b8,
            #00ffff,
            #0a0066,
            #00ffd5,
            #002bff,
            #7a00ff,
            #02ffab,
            #005fdb);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 15s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.start-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.animation-go-up {
    animation: goUp 3s linear 1s infinite;
}

.animation-go-down {
    animation: goDown 3s linear 1s infinite;
}

.d-none {
    display: none !important;
}

@keyframes goUp {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}

@keyframes goDown {
    from {
        top: 0;
    }

    to {
        top: 200%;
    }
}

@media (max-width: 1000px) {
    .fp-top {
        background-position: '';
    }

    .fp-bottom {
        background-position: '';
    }
}

@media (max-width: 1500px) {
    .start-button-container {
        margin-right: 28px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1100px) {
    .start-button-container {
        margin-right: 25px;
        margin-bottom: 10px;
        width: 160px;
        height: 80%;
    }
}

@media (max-width: 1000px) {
    .frontpage {
        display: none;
    }

    .frontpage-container {
        display: none;
    }

    .fp-top {
        display: none;
    }

    .fp-bottom {
        display: none;
    }

    .start-button-box {
        display: none;
    }

    .start-button-container {
        display: none;
    }

    .start-btn {
        display: none;
    }

    .pulse-button:hover {
        display: none;
    }
}

.poke-card {
    height: 240px;
    width: 180px;
    margin: 11px;
    border: 4px solid rgb(211, 7, 7);
    border-radius: 15px;
    border-style: ridge;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
    opacity: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a;
    cursor: pointer;
}

.card-text {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    z-index: 4;
}

.card-text-top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-text-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

h3 {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 2px;
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
    text-shadow:
        0px 0px 5px #000000,
        0px 0px 5px rgba(0, 0, 0, 0.5);
}

.mt-40 {
    margin-top: 40px !important;
}

.small-pokemon-img {
    position: absolute;
    z-index: 99;
    height: 120px;
    width: 120px;
    top: 60px;
}

.index-number {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    text-shadow: 0px 0px 5px #000000;
}

.type-small-image {
    color: white;
    letter-spacing: 0.2px;
    text-shadow:
        1px 1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        -1px -1px 0 #000000,
        1px 0px 0 #000000,
        0px 1px 0 #000000,
        -1px 0px 0 #000000,
        0px -1px 0 #000000;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 8px;
    background-color: #ffffff8a;
}

.text-center {
    text-align: center !important;
}

.card-bg-one-type {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-bg-left {
    z-index: 0;
    position: absolute;
    width: 220%;
    height: 220%;
    top: 0;
    transform: rotate(36deg) translate(-90%);
    margin-left: 191px;
    --mask: conic-gradient(from -120deg at right, #0000, #000 1deg 59deg, #0000 60deg) 50%/100% 15.01px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.card-bg-right {
    z-index: 0;
    position: absolute;
    width: 200%;
    height: 200%;
    bottom: 0;
    right: 9px;
    transform: rotate(36deg) translate(90%);
    right: 10px;
    --mask: conic-gradient(from 60deg at left, #0000, #ffffff 1deg 59deg, #0000 60deg) 50%/100% 15.01px;
    -webkit-mask: var(--mask);
    mask: var(--mask);

}



.big-card-window {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 111;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.big-poke-card-container {
    display: flex;
    align-items: center;
}

.big-poke-card {
    height: 720px;
    width: 500px;
    z-index: 120 !important;
    margin: 0 !important;
    -webkit-box-shadow:
        0px 2px 5px 2px rgba(0, 0, 0, 0.6),
        0px 0px 27px 10px #000000;
    box-shadow:
        0px 2px 5px 2px rgba(0, 0, 0, 0.6),
        0px 0px 27px 10px #000000;
    background-color: #1b1b1b;
}

.big-poke-card-left {
    height: 650px;
    width: 400px;
    margin-right: -25px;
    z-index: 120;
    filter: blur(5px);
}

.big-poke-card-right {
    height: 650px;
    width: 400px;
    margin-left: -25px;
    z-index: 110;
    filter: blur(5px);
}

.arrow {
    height: 80px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}

.big-card-bg-left {
    z-index: 115;
    position: absolute;
    width: 220%;
    height: 220%;
    top: 0;
    transform: rotate(35deg) translate(-90%);
    margin-left: 46%;
    --mask: conic-gradient(from -120deg at right, #0000, #000 1deg 59deg, #0000 60deg) 50%/100% 15.01px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.big-card-bg-right {
    z-index: 115;
    position: absolute;
    width: 200%;
    height: 200%;
    bottom: 0;
    transform: rotate(35deg) translate(90%);
    right: 25%;
}

.big-card-bg {
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 130;
    height: 600px;
    width: 600px;
    opacity: 0.2;
}

.big-pokemon-img {
    position: absolute;
    top: 30px;
    z-index: 180;
    height: 350px;
    width: 350px;
}

.big-card-details-bg-1 {
    z-index: 160;
    height: 65%;
    width: 100%;
    background-color: #4b4b4b;
    --mask: conic-gradient(from 137.5deg at top,#0000,#000 1deg 84deg,#0000 85deg) 50%/45.82px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.big-card-details-bg-2 {
    position: absolute;
    z-index: 160;
    bottom: 0;
    height: 61%;
    width: 100%;
    /* opacity: 0.3; */
    background-color: #868686;
    --mask: conic-gradient(from 137.5deg at top,#0000,#000 1deg 84deg,#0000 85deg) 50%/45.82px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.big-card-details-bg-3 {
    position: absolute;
    z-index: 160;
    bottom: 0;
    height: 60%;
    width: 100%;
    /* opacity: 0.5; */
    background-color: #b1b1b1;
    --mask: conic-gradient(from 137.5deg at top,#0000,#000 1deg 84deg,#0000 85deg) 50%/45.82px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.big-card-details-bg-4 {
    position: absolute;
    z-index: 160;
    bottom: 0;
    height: 59%;
    width: 100%;
    background-color: #f0f8ff;
    --mask: conic-gradient(from 137.5deg at top,#0000,#000 1deg 84deg,#0000 85deg) 50%/45.82px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);

}

.big-card-text {
    width: 100%;
    height: 40%;
    z-index: 190;
}

.big-card-pokemon-name{
    margin-top: 25px;
    margin-left: 25px;
    font-size: 34px;
}

.big-card-index-number{
    margin-left: 27px;
    font-size: 20px;
    margin-bottom: 4px;
}

.big-card-type{
    margin-left: 25px;
    font-size: 20px;
    font-style: italic;
    margin-top: 4px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

.a-left {}

.a-right {}

.pokemon-details{

}