.pokemon-details {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

.details-headlines {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.details-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 4px;
}

.progress-bar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.progress-bar-box {
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 4px;
    transition: transform .2s;
}

.links {
    font-size: 1.3em;
    opacity: 0.75;
    margin-top: 4px;
    margin-bottom: 8px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 7px;
    border-radius: 10px;
}

.links:hover {
    color: #000296;
    background-color: #d8d8d8;
}

.active {
    color: #000296;
}

h6 {
    font-size: .8em;
    margin-top: 4px;
    color: #999;
    font-weight: 700;
}

h7 {
    font-size: 1.1em;
    font-weight: 800;
    color: #000000b4;
}

.progress-bar-box .percent {
    width: 100px;
    height: 100px;
    position: relative;
}

.progress-bar-box .percent svg {
    width: 100px;
    height: 100px;
    position: relative;
    transform: rotate(273deg);
}

.progress-bar-box .percent svg circle {
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.progress-bar-box .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #d8d8d8;
}

.progress-bar-box .percent svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 87) / 100);
    stroke: #03a9f4;
}

.progress-bar-box .percent .num {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #111;
}

.progress-bar-box .percent .num h2 {
    font-size: 48px;
}

.progress-bar-box .percent .num h2 span {
    font-size: 24px;
}

.text {
    margin-bottom: 4px !important;
}

.margin-extra {
    margin-left: 2px;
    margin-top: 10px;
}